<div class="loginWrapper">
    <div class="container shadow">
        <div class="row align-items-center">
        <div class="col-md-6 p-0">
            <div class="image-login">
                <img src="/assets/img/spa-logo.png" alt="" class="" >
            </div>
        </div>
        <div class="col-md-6">
        <article class="card  border-0 p-3 border-top">
         
                    <h5 class="login-heading mb-4">Forgot Password</h5>
            <form [formGroup]="loginForm" novalidate (submit)="onSubmit()">
                <div class="mb-3">
                    
                    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email || f.email.errors.pattern">Please Enter Valid Email</div>
                    </div>
                </div>

                
                
                <div class="mt-3 d-flex justify-content-between">
                    <a routerLink="/auth/login" class="last-back">Login</a>

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>

            </form>
        </article>
        </div>
        </div>
    </div>
</div>