<article class="listHeader">
    <h2 class="mb-3">View Category</h2>

    <div>
        <button class="btn btn-primary lhBtn" routerLink="/category">
            <mat-icon class="mr-2">arrow_back</mat-icon> Back
        </button>
    </div>
</article>

<article class="bg-main">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Name</label>
            <p class="text">{{data?.name | titlecase}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label>Image</label>
            <div *ngIf="data?.image">
                <img [src]="host+'images/category/'+data?.image" class="thumbnail" />
            </div>
        </div>
        </div>
</article>