<article class="listHeader mt-2">
    <h2 class="mb-3">{{id?'Edit':'Add'}} Category</h2>

    <div>
        <button class="btn btn-primary lhBtn" routerLink="/category">
            <mat-icon class="mr-2">arrow_back</mat-icon> Back
        </button>
    </div>
</article>

<form [formGroup]="addEditForm" novalidate (submit)="onSubmit()">

    <article class="bg-main">
        <div class="form-row">
            <!-- <div class="col-md-6 mb-3">
                <label class="required">Type</label>
                <select class="form-control" formControlName="type" required>
                    <option value="">Select Type</option>
                    <option value="spa">Spa</option>
                </select>
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Type is required</div>
                </div>
            </div> -->
            <div class="col-md-6 mb-3">
                <label class="required">Name</label>
                <input type="text" class="form-control" formControlName="name" required />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="required">Image</label><br/>
                <label class="btn btn-primary">
                    <input type="file" class="form-control" [disabled]="imageUploading" (change)="updateImage($event)" class="d-none" />
                   {{f.image.value?'Update Image':'Upload Image'}}
                </label>
                <div *ngIf="f.image.value">
                    <img [src]="host+'images/category/'+f.image.value" class="thumbnail" />
                </div>
              
                <div class="mt-2 text-success" *ngIf="imageUploading">Uploading... <i class="fa fa-spinner fa-spin"></i></div>
            </div>
            </div>
    </article>

    <article class="aefFooter border-top">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left p-3">
                <!-- <a class="text-danger aedBtn" *ngIf="id">Delete</a> -->
            </div>
            <div class="col-md-6 text-center text-md-right p-3">
                <button type="submit" class="btn btn-primary aeBtn" [disabled]="updating">{{id?'Update':'Add'}}  <i class="fa fa-spinner fa-spin ml-2" *ngIf="updating"></i></button>
            </div>
        </div>

    </article>
</form>