<div class="mainHeader shadow" id="mainHeader">

  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggle()" class="pointer">menu</mat-icon>

  <!-- <div class="userDropdown" *ngIf="user"  ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
      <img src="{{userImg(user?.image)}}" alt="" class="headerProfile"/>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem routerLink="/profile">Profile</button>
      <button ngbDropdownItem routerLink="/auth/change-password">Change Password</button>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div> -->
  <div class="dropdown userDropdown" *ngIf="user">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
      <img src="{{userImg(user?.image)}}" alt="" class="headerProfile"/>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
      <li><a class="dropdown-item" routerLink="/auth/change-password">Change Password</a></li>
      <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>