.loginWrapper{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
}
.container.shadow {
background-image: url('/assets/img/loginbg.png');
background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: white;
}
input.form-control.ng-untouched.ng-pristine.ng-invalid {
    border: none;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 0px;
}
.image-login {
    float: right;
    position: relative;
    top: -93px;
    left: 85px;
}
h5.login-heading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
label.form-check-label.rem {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #858585;
}
button.btn.btn-primary {
    width: 132px;
    height: 36px;
}
a.forgotpassword {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #858585 !important;
}
article.card.border-0.p-3.border-top {
    width: 400px;
    margin: auto;
}