<div class="mainSidebar">
    <div class="text-center mb-3 hidemin">
        <img src="./assets/img/logo.svg" alt="" class="sidebarLogo">
    </div>
    <div class="text-center hidemin">
        <img [src]="userImg(user?.image)" alt="" class="sidebarProfile mb-3"/>

        <h5 class="clientName">{{user?.fullName}}</h5>
        <div class="clientEmail">{{user?.email}}</div>
    </div>

    <article class="sidebarNav">
        <a routerLinkActive='active' routerLink="/dashboard">
            <mat-icon aria-hidden="false">dashboard</mat-icon>
            <span class="hidemin">Dashboard</span>
        </a>
        <!-- <a routerLinkActive='active' routerLink="/roles">
            <mat-icon aria-hidden="false">dashboard</mat-icon>
            <span class="hidemin">Roles & Permission</span>
        </a> -->
        <a routerLinkActive='active' routerLink="/category">
            <mat-icon aria-hidden="false">dashboard</mat-icon>
            <span class="hidemin">Manage Category</span>
        </a>
        <a routerLinkActive='active' routerLink="/users">
            <mat-icon aria-hidden="false">group</mat-icon>
            <span class="hidemin">Manage SPA </span>
        </a>
    </article>
</div>