<app-header></app-header>
<div class="mainPannel" id="mainPannel">
    <app-sidebar></app-sidebar>
    <div class="mainContent">
        <router-outlet></router-outlet>
    </div>
    
</div>

<!-- <app-footer></app-footer> -->