<div class="loginWrapper">
    <div class="container  shadow">
        <div class="row align-items-center">
        <div class="col-md-6 p-0">
            <div class="image-login">
                <img src="/assets/img/spa-logo.png" alt="" class="" >
                </div>
            </div>
            <div class="col-md-6">
        <article class="card  border-0 p-3 border-top">
          
            <h5 class=" login-heading mb-4">Change Password</h5>
            <form [formGroup]="loginForm" novalidate (submit)="onSubmit()">
                <div class="mb-3">
                
                   
                    <div class="inputWrapper">
                        <input formControlName="currentPassword" [type]="eyes.password ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="Current Password" required>
                        <i class="fa" (click)="eyes.password = !eyes.password"
                            [ngClass]="{'fa-eye': eyes.password, 'fa-eye-slash':!eyes.password}"></i>
                    </div>

                    <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                        <div *ngIf="f.currentPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="newPassword" [type]="eyes.newPassword ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="New Password" required>
                        <i class="fa" (click)="eyes.newPassword = !eyes.newPassword"
                            [ngClass]="{'fa-eye': eyes.newPassword, 'fa-eye-slash':!eyes.newPassword}"></i>
                    </div>

                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="confirmPassword" [type]="eyes.confirmPassword ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="Confirm Password" required>
                        <i class="fa" (click)="eyes.confirmPassword = !eyes.confirmPassword"
                            [ngClass]="{'fa-eye': eyes.confirmPassword, 'fa-eye-slash':!eyes.confirmPassword}"></i>
                    </div>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password</div>
                        <div *ngIf="f.confirmPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>
                
                <div class="mt-3 d-flex justify-content-between">
                    <a routerLink="/" class="last-back">Back</a>

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>

            </form>
        </article>
        </div>
        </div>
    </div>
</div>