<article class="listHeader">
    <h2 class="mb-3">View User</h2>

    <div>
        <button class="btn btn-primary lhBtn" routerLink="/users">
            <mat-icon class="mr-2">arrow_back</mat-icon> Back
        </button>
    </div>
</article>

<article class="bg-main">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Name</label>
            <p class="text">{{data?.fullName | titlecase}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label>Category</label>
            <p class="text">{{data?.spa_id?.name | titlecase}}</p>
        </div>
        
        <div class="col-md-6 mb-3">
            <label>Email</label>
            <p class="text">{{data?.email}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label>Contact Number</label>
            <p class="text">{{data?.dialCode}} {{data?.mobileNo}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label>Image</label>
            <div *ngIf="data?.image">
                <img [src]="host+'images/users/'+data?.image" class="thumbnail" />
            </div>
        </div>
        </div>
</article>