<article class="listHeader mt-2">
    <h2 class="mb-3">Manage Category</h2>

    <div class="d-flex">
        <form (ngSubmit)="search()"  class="lhSaerchFrom mr-2">
            <input placeholder="Search" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}" type="text" class="form-control" />
            <mat-icon class="search" (click)="search()">search</mat-icon>
            <mat-icon class="clear" *ngIf="filters.search"  (click)="clear()">clear</mat-icon>
        </form>

        <button class="btn btn-primary lhBtn" routerLink="add"><mat-icon class="mr-2">add</mat-icon> Add</button>
    </div>
</article>


<div class="table-responsive listTableWapper">
    <table class="table listTable mb-0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" >
                <td><a routerLink="view/{{item.id}}" matTooltip="View" matTooltipPosition="above">{{item.name | titlecase}}</a></td>
                <td>
                    <button class="btn" (click)="statusChange(item)" [ngClass]="item.status!='active'?'btn-danger':'btn-success'">{{item.status!='active'?'Deactive':'Active'}}</button>
                </td>
                <td class="action">
                    <a routerLink="edit/{{item.id}}" matTooltip="Edit" matTooltipPosition="above">
                        <mat-icon>edit</mat-icon>
                    </a>
                    
                    <mat-icon class="text-danger" matTooltip="Delete" matTooltipPosition="above" (click)="deleteF(item.id)">delete</mat-icon>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="text-center my-3" *ngIf="total==0">There are no data!</h2>
</div>

<article class="listPagination">
    <mat-paginator (page)="handlePageEvent($event)" [length]="total" [pageSize]="filters.count"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="filters.page-1"
        aria-label="Select page">
    </mat-paginator>
</article>


<div class="modal d-block deactivateModal" *ngIf="deleteModal">
    <div class="modal-overlay" (click)="deleteModal = false"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete</h5>
          <button type="button" class="close" (click)="deleteModal = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Permanently remove your record</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteModal = false">No</button>
          <button type="button" class="btn btn-primary" (click)="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>