<div class="loginWrapper">
    <div class="container shadow">
        <div class="row align-items-center">
            <div class="col-md-6 p-0">
                <div class="image-login">
                    <img src="/assets/img/spa-logo.png" alt="" class="" >
                    </div>
                </div>
                <div class="col-md-6">
        <article class="card  border-0 p-3 border-top">
 
            <h5 class="login-heading mb-4">Reset Pssword</h5>
            <form [formGroup]="loginForm" novalidate (submit)="onSubmit()">
                <div class="mb-3">
                  
                    <input formControlName="code" type="text" class="form-control" placeholder="Code" required>
                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                        <div *ngIf="f.code.errors.required">Code is required</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="newPassword" [type]="showPass ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="New Password" required>
                        <i class="fa" (click)="showPass = !showPass"
                            [ngClass]="{'fa-eye': showPass, 'fa-eye-slash':!showPass}"></i>
                    </div>

                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="confirmPassword" [type]="showPass2 ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="Confirm Password" required>
                        <i class="fa" (click)="showPass2 = !showPass2"
                            [ngClass]="{'fa-eye': showPass2, 'fa-eye-slash':!showPass2}"></i>
                    </div>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password</div>
                        <div *ngIf="f.confirmPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>
                
                <div class="mt-3 text-right">
                    <button type="submit" class="btn btn-primary">
                        Reset
                    </button>
                </div>

            </form>
        </article>
        </div>
    </div>
    </div>
</div>