<h2 class="d-flex mb-3">View Profile
    <button class="btn btn-primary ml-auto" routerLink="/profile/edit"><i class="fa fa-pencil" title="Edit"></i> Edit Profile</button>
</h2>
<div class="form-row">
    <div class="col-md-3">
    <div class="bg-main">

    <div class="col-md-12 mb-3 text-center">
        <div class="edit-profile-input">
            <img [src]="userImg(user?.image)" class="shadow"/>
             <!-- <i class="fa fa-edit"></i> -->
             <!-- <input type="file" (change)="updateImage($event)" [disabled]="imageUploading" /> -->
             </div>
             <div *ngIf="imageUploading" class="text-success mt-2">Uploading.. <i class="fa fa-spinner fa-spin"></i></div>
    </div>
    </div>
    </div>

    <div class="col-md-9">
        <div class="bg-main ml-3">

 
            <div class="col-md-12">
                <div class="row">
            <div class="col-md-6">
                <label class="profile-label">Name</label>
                <p class="text">{{user?.fullName}}</p>
            </div>
            <div class="col-md-6">
                <label class="profile-label">Email</label>
                <p class="text">{{user?.email}}</p>
            </div>
            <div class="col-md-6">
                <label class="profile-label">Contact Number</label>
                <p class="text">{{user?.dialCode}} {{user?.mobileNo}}</p>
            </div>
            <div class="col-md-6">
                <label class="profile-label">Role</label>
                <p class="text">{{user?.role}}</p>
            </div>
            </div>
            </div>
        </div>
    </div>

</div>