.edit-profile-input{
    position: relative;
    display: inline-block;
    >input{
        position: absolute;
        opacity: 0;
        height: 100%;
        width:100%;
        left:0;
        cursor: pointer;
        top:0;
    }
    
    >img{
        height: 130px;
        width: 130px;
        object-fit: cover;
        border: 3px solid #ffffff;
        border-radius: 50%;
    
    }
    
    >i{
        // position: absolute;
        // right: 0;
        // bottom: 3px;
        // font-size: 18px;
        // color: #000;
    }
    }