<article class="listHeader mt-2">
    <h2 class="mb-3">{{id?'Edit':'Add'}} SPA</h2>

    <div>
        <button class="btn btn-primary lhBtn" routerLink="/users">
            <mat-icon class="mr-2">arrow_back</mat-icon> Back
        </button>
    </div>
</article>

<form [formGroup]="addEditForm" novalidate (submit)="onSubmit()">

    <article class="bg-main">
        <div class="form-row">
            <div class="col-md-12 mb-3 text-center">
                <div class="edit-profile-input">
                    <img [src]="userImg(f.image.value)" class="shadow" />
                    <i class="fa fa-edit"></i>
                    <input type="file" (change)="updateImage($event)" [disabled]="imageUploading" />
                </div>
                <div *ngIf="imageUploading" class="text-success mt-2">Uploading.. <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="required">Name</label>
                <input type="text" class="form-control" formControlName="fullName" required />
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                    <div *ngIf="f.fullName.errors.required">Name is required</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="required">Category</label>
                <select class="form-control" formControlName="spa_id" required>
                    <option value="">Select Category</option>
                    <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                </select>
                <div *ngIf="submitted && f.spa_id.errors" class="invalid-feedback">
                    <div *ngIf="f.spa_id.errors.required">Category is required</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="required">Email</label>
                <input formControlName="email" type="email" class="form-control" required [readonly]="id?true:false">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email || f.email.errors.pattern">Please Enter Valid Email</div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="setinput">
                    <label class="required d-block">Contact Number</label>
                    <app-tel-input [control]="f.mobileNo"></app-tel-input>
                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileNo.errors.required">Contact Number is required</div>
                        <div *ngIf="!f.mobileNo.errors.required">Contact Number is invalid</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="required">Address</label>
                <input type="text" ngx-google-places-autocomplete autocomplete="off"
                #placesRef="ngx-places" (change)="addressCheck()"
                (onAddressChange)="handleAddressChange($event)" formControlName="address" class="form-control" formControlName="address" required />
                <div *ngIf="submitted && f.address.errors && isAddressSelected" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
                <div class="invalid-feedback" *ngIf="!isAddressSelected && submitted">Please Select Location Suggestion</div>
            </div>
        </div>
    </article>

    <article class="aefFooter border-top">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left p-3">
                <!-- <a class="text-danger aedBtn" *ngIf="id">Delete</a> -->
            </div>
            <div class="col-md-6 text-center text-md-right p-3">
                <button type="submit" class="btn btn-primary aeBtn">{{id?'Update':'Add'}}</button>
            </div>
        </div>

    </article>
</form>