<h2 class="d-flex justify-content-between mb-3">Edit Profile
    <button class="btn btn-primary" routerLink="/profile">Back</button>
</h2>
<div class="row mx-0">
    <div class="col-md-3 p-0">
        <div class="bg-main">
        <div class="col-md-12 mb-3 text-center">
            <div class="edit-profile-input">
                <img [src]="userImg(user?.image)" class="shadow" />
                <i class="fa fa-edit"></i>
                <input type="file" (change)="updateImage($event)" [disabled]="imageUploading" />
            </div>
            <div *ngIf="imageUploading" class="text-success mt-2">Uploading.. <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
        </div>
    </div>
<div class="col-md-9">
<div class="bg-main">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row addupdateform">
      
        <div class="col-sm-6">
            <div class="form-group  has-required">
                <label for="nf-name"> Name<span class="text-danger">*</span></label>
                <section>
                    <input type="text" maxlength="50" autocomplete="off" placeholder="" formControlName="fullName"
                        class="form-control titlecase" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                        required="">
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                        <div *ngIf="f.fullName.errors.required"> Name is required</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="setinput">
                <label class="required d-block ">Contact Number<span class="text-danger">*</span></label>
                <app-tel-input [control]="f.mobileNo"></app-tel-input>
                <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNo.errors.required">Contact Number is required</div>
                    <div *ngIf="!f.mobileNo.errors.required">Contact Number is invalid</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group  has-required">
                <label for="nf-name">Email<span class="text-danger">*</span></label>
                <section>
                    <input formControlName="email" [readonly]="true" type="email" class="form-control" required>
                    <div *ngIf="submitted && (f.email.errors)" class="invalid-feedback">
                        <div *ngIf="f.email.errors?.required">Email is required</div>
                        <div *ngIf="f.email.value&&f.email.errors.email">Please Enter Valid Email</div>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button class="btn btn-primary" [disabled]="updating">Update <i class="fa fa-spinner fa-spin" *ngIf="updating"></i></button>
        </div>
    </div>
</form>
</div>
</div>
</div>